.button {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  padding-right: 16px;
  padding-left: 16px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #eee;
  &.primary {
    background-color: var(--color-primary-800);
    color: var(--color-neutral-white);
  }
  &:disabled {
    background-color: var(--color-neutral-200);
    color: var(--color-neutral-300);
    cursor: not-allowed;
  }
}
