:root {
  --color-neutral-900: #111111;
  --color-neutral-800: #333333;
  --color-neutral-700: #4f4f4f;
  --color-neutral-600: #666666;
  --color-neutral-500: #666666;
  --color-neutral-400: #aaaaaa;
  --color-neutral-300: #cccccc;
  --color-neutral-200: #dddddd;
  --color-neutral-100: #eeeeee;
  --color-neutral-50: #f5f5f5;
  --color-neutral-white: #ffffff;

  --color-primary-900: #ff7f0f;
  --color-primary-800: #ff951a;
}
